
.container {
	flex-basis: 50%;
	flex-grow: 1;
	flex-shrink: 1;
	max-height: 100%;
	padding: 10px;
	padding-top: 24px;
}

.title {
	color: white;
	width: 100%;
	padding-bottom: 24px;
	font-size: 2vw;
}

.content {
	max-height: calc(100% - 60px);
	overflow: auto;
}

.innerElement {
	background-color: transparent;
	padding: 24px;
	margin: 3px;
	font-size: 1.5vw;
	cursor: pointer;
	color: white;
	&:hover {
		background-color: #26272d;
	}
}
