@font-face {
	font-family: 'AnimeAce';
	src:url('assets/AnimeAce.ttf');
}

@font-face {
	font-family: 'Rosario-Bold';		
	src:url('assets/Rosario-Bold.otf');
}

#carousel {
	padding-top: 2.5%;
	padding-bottom: 5%;
}

#team {
	padding-top: 5%;
	padding-bottom: 10%;
}

#stats, #data, #tools {
	padding-bottom: 5%;
}

.topic {
	font-size: 36px;
	font-family: Rosario-Bold;
}

.member_name {
	font-size: 24px;
	font-family: AnimeAce;
}

.member_info {
	font-size: 18px;
	font-family: AnimeAce;
	color: grey;
}

.img-member {
	width: 200px;
	height: 200px;		
	border-radius: 50%;
	object-fit: cover;
}

.stats_info, .data_info, .tool_info {
	font-size: 18px;
	font-family: Rosario-Bold;
	color: grey;
}

.data_name, .tool_name {
	font-size: 24px;
	font-family: Rosario-Bold;
}

.img-tool {
	width: 150px;
	height: 150px;
	object-fit: cover;
}

.about_container {
	padding-top: 5%;
	text-align: center;
}

.img-carousel {
	display:block;
	margin: auto;
	min-height: 550px;
	max-height: 550px;
}

.carousel_name {
	font-size: 24px;
	text-shadow:
		-2px -2px 0 #000,
		2px -2px 0 #000,
		-2px 2px 0 #000,
		2px 2px 0 #000;  
}
