.home_container {
  height: 100%;
}

.splash {
  background-image: url("./assets/images/splash.jpg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.motivation {
  padding-top: 5%;
  padding-bottom: 5%;
}

.team, .info {
  padding-bottom: 5%;
}

.topic {
  font-size: 36px;
  font-weight: bold;
}

.stats_info {
  font-size: 18px;
  color: grey;
}

.about_container {
  text-align: center;
}
