.member_name {
  font-size: 24px;
  font-weight: bold;
}

.img_member{
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
}

.member_role {
  font-size: 18px;
  color: dimgrey;
}


.member_blurb {
  font-size: 18px;
  color: dimgrey;
	font-style: italic;
}

.member_responsibilities {
  font-size: 18px;
}
