
.detailContainer {
  display: flex;
  flex-direction: row;
}

.current {
  color: white;
  padding-right: 10px;
  white-space: nowrap;
}

.link {
  color: rgba(255, 255, 255, .4);
  padding-right: 10px;
  white-space: nowrap;
  cursor: pointer;
  &:hover {
    color: white;
  }
}

.bullet {
  color: rgba(255, 255, 255, .4);
  padding-right: 10px;
  white-space: nowrap;
}

.button {
  margin-left: 2px;
  margin-right: 2px;
}
