.container {
  height: 100%;
  width: 100%;
  padding: 10px;
  padding-top: 50px;
  background-color: #17181b;
  position: fixed;
  top: 0;
  left: 0;
  overflow-x: hidden;
  overflow-y: overlay;
  padding-bottom: 40px;
}

.items {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: flex-start;
  position: relative;
  min-height: 100%;
  padding-bottom: 40px;
}

.emptyContainer {
  background-color: #17181b;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  height: 92%;
}

.noResults {
  color: white;
}

.ghost {
  width: 134px;
  margin-right: 10px;
  margin-left: 10px;
}

.pageList {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 0;
}
