
.container {
  margin: 10px;
  width: 134px;
  max-height: 240px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  cursor: pointer;
}

.title {
  margin-top: 6px;
  margin-bottom: 0px;
  color: #fff;
  max-width: 100%;
  display: block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.subInfo {
  width: 100%;
  color: rgba(255, 255, 255, .4);
  font-size: 0.85em;
  display: flex;
  justify-content: space-between;
}

.dim {
  opacity: .3;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
  bottom: 5px;
  left: 0px;
  width: 134px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.rating {
  padding-top: 10px;
  color: #fff;
}