
.itemContainer {
  margin: 10px;
  width: 134px;
  max-height: 240px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.thumbnailTitle {
  margin-top: 6px;
  margin-bottom: 0px;
  color: #fff;
}

.thumbnailYear {
  color: rgba(255, 255, 255, .7);
  font-size: 0.85em;
}
