
.buttonRow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 10px;
  padding-bottom: 30px;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.button {
  margin-right: 10px;
  margin-left: 10px;
}
