
.container {
  display: flex;
  flex-direction: row;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px;
  &:hover {
    background-color: #26272d;
  }
}

.stringContainer {
  margin-top: 10px;
  margin-bottom: 10px;
  color: white;
}

.strings {
  max-width: calc(100% - 134px);
  overflow: hidden;
  padding-left: 30px;
}

.noWrap {
  white-space: nowrap;
}