.container {
  height: 100%;
  width: 100%;
  background-color: #17181b;
  position: fixed;
  top: 0;
  left: 0;
  overflow-x: hidden;
  overflow-y: overlay;
  padding-bottom: 40px;
  padding-top: 50px;
  padding-left: 15%;
  padding-right: 15%;
}

.items {
  max-width: 100%;
  position: relative;
  min-height: 100%;
  padding-bottom: 40px;
  margin: 10px;
}

.result {
  width: 100%;
  cursor: pointer;
}

.emptyContainer {
  position: absolute;
  background-color: transparent;
  top: 0;
  left: 0;
  min-height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.noResults {
  color: white;
}

.pageList {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 0;
}
